In [39]:
import pandas as pd
from keplergl import KeplerGl
import geopandas as gpd
import json

### Importo los el csv de los pisos de alquiler.

In [40]:
df_alquiler = pd.read_csv('Alquileres_coordenas_limpio.csv', sep=';', header=0)
df_alquiler.head(2)

,Referencia,Tipo_vivienda,Dirección,Barrio,Distrito,Población,Superficie construida,Superficie útil,Superficie solar,Habitaciones,...,PMZona,PMm²Zona,RMP,RMH,Descripción,<img>Url_foto,Url_vivienda,Coordenadas,Latitude,Longitude
0,2805-002380,Piso,Calle Francisco de Goya,Prado de Somosaguas,Pozuelo de Alarcón,Pozuelo de Alarcón,121,121.0,0,3,...,4039.88,19.27,27167.0,86403.0,"Ubicada en la primera planta, esta residencia ...",https://fotos.imghs.net/apps/2805/40873729625....,https://www.pisos.com/alquilar/piso-prado_de_s...,"(40.3418175, -3.3688722)",40.341817,-3.368872
1,2805-002377,Piso,Calle Solano,Prado de Somosaguas,Pozuelo de Alarcón,Pozuelo de Alarcón,225,190.0,0,4,...,4039.88,19.27,27167.0,86403.0,INMOBARALIA presenta una exclusiva oportunidad...,https://fotos.imghs.net/apps/2805/40056907134....,https://www.pisos.com/alquilar/piso-prado_de_s...,"(40.4749727, -3.5981753)",40.474973,-3.598175

### Importo los el csv de los pisos en venta.

In [41]:
df_venta = pd.read_csv('Ventas_coordenas_limpio.csv', sep = ';', header=0)
df_venta.head(2)

,Referencia,Tipo_vivienda,Dirección,Barrio,Distrito,Población,Superficie construida,Superficie útil,Superficie solar,Habitaciones,...,PMZona,PMm²Zona,RMP,RMH,Descripción,<img>Url_foto,Url_vivienda,Coordenadas,Latitude,Longitude
0,IF7146-P1739,Piso,"Calle de Goya, 17",Golf-El Carralero,Majadahonda,Majadahonda,139,NaN,0,3,...,806473.17,3809.79,21248,66390,¡Increíble oportunidad de adquirir un piso en ...,https://fotos.imghs.net/apps/1018/424/1018_102...,https://www.pisos.com/comprar/piso-golf_el_car...,"(40.4257174, -3.6871447)",40.425717,-3.687145
1,4501235-120920037,Casa unifamiliar,Lozoyuela,Lozoyuela,Lozoyuela-Navas-Sieteiglesias,Lozoyuela-Navas-Sieteiglesias,315,125.0,976,4,...,246857.14,1397.97,11600,29083,BREM GLOBAL INMOBILIARIA presenta esta LUMINOS...,https://fotos.imghs.net/apps/501235/3583530024...,https://www.pisos.com/comprar/casa_unifamiliar...,"(40.4359447, -3.6627775)",40.435945,-3.662777

### Importo el archivo Geojson de la geometría de los distritos de madrid.

In [42]:
df_distritos = gpd.read_file('Distritos_de_Madrid.geojson')
df_distritos.head(2)

,FID,NOMBRE,CODDISTRIT,SHAPE_area,SHAPE_len,geometry
0,1,Centro,1,5.231267e+06,10304.545144,"POLYGON ((-3.69316 40.40735, -3.69320 40.40720..."
1,2,Arganzuela,2,6.466406e+06,12834.885747,"POLYGON ((-3.70389 40.40520, -3.70297 40.40506..."

### Importo el archivo de municipios y distritos de madrid

In [43]:
df_municipios = gpd.read_file('Municipios.geojson')
df_municipios

,FID,D_R,CD_ZT208,ZT208,SHAPE_Length,SHAPE_Area,geometry
0,1,,1.0,Madrid-01-01,0.061371,0.000180,"MULTIPOLYGON (((-3.71224 40.43023, -3.71214 40..."
1,2,,2.0,Madrid-01-02,0.078836,0.000171,"MULTIPOLYGON (((-3.70939 40.42246, -3.70924 40..."
2,3,,3.0,Madrid-01-03,0.069709,0.000204,"MULTIPOLYGON (((-3.70836 40.41512, -3.70831 40..."
3,4,,4.0,Madrid-02-01,0.058365,0.000139,"MULTIPOLYGON (((-3.70797 40.40363, -3.70790 40..."
4,5,,5.0,Madrid-02-02,0.083086,0.000209,"MULTIPOLYGON (((-3.69281 40.40702, -3.69263 40..."
...,...,...,...,...,...,...,...
203,204,,204.0,Titulcia-1,0.181462,0.001070,"MULTIPOLYGON (((-3.55399 40.17049, -3.55165 40..."
204,205,,205.0,Comarca de la Vega-4,0.385526,0.007018,"MULTIPOLYGON (((-3.36564 40.19902, -3.36033 40..."
205,206,,206.0,Chinch+ n-1,0.641698,0.012250,"MULTIPOLYGON (((-3.48717 40.21583, -3.48631 40..."
206,207,,207.0,Villaconejos-1,0.245542,0.003517,"MULTIPOLYGON (((-3.49079 40.13998, -3.48926 40..."
207,208,,208.0,Colmenar de Oreja-1,0.773258,0.013349,"MULTIPOLYGON (((-3.37766 40.13358, -3.37623 40..."

### Importo el archivo Geojson de las paradas de metro.

In [44]:
df_paradas =gpd.read_file('PARADAS DE METRO.geojson')
df_paradas.head(2)

,OBJECTID,IDESTACION,FECHAACTUAL,MODO,CODIGOESTACION,DENOMINACION,OBSERVACIONES,SITUACION,CODIGOCTMESTACIONREDMETRO,CODIGOEMPRESA,...,FECHAINICIO,FECHAFIN,X,Y,GRADOACCESIBILIDAD,SITUACIONCALLE,DENOMINACION_SAE,INTERURBANOS_CODIGOEMT_CRTM,INTERURBANOS_CODIGOEMT_EMPRESA,geometry
0,1,4_38,20150709,4,38,NOVICIADO,0211,I,50,0211,...,19930701,None,440100,4475360,N,None,None,None,None,POINT (-3.70742 40.42484)
1,2,4_175,20150709,4,175,ESTRELLA,0915,I,175,0915,...,19930701,None,443960,4473846,N,None,None,None,None,POINT (-3.66179 40.41147)

### Importo el acrhivo Geojson de las líneas de metro.

In [45]:
df_lineas = gpd.read_file('LINEAS.geojson')
df_lineas.head(2)

,OBJECTID,IDTRAMO,FECHAACTUAL,MODO,CODIGOITINERARIO,CODIGOGESTIONLINEA,NUMEROLINEAUSUARIO,SENTIDO,TIPOITINERARIO,CODIGOESTACION,...,IDFTRAMO,CODIGOOBSERVACION,CODIGOSUBLINEA,DENOMINACION_SAE,IDFLINEA,IDFITINERARIO,IDFESTACION,IDFPOSTE,IDFANDEN,geometry
0,1,4_336284_278__755_I,20150709,4,336284,102,10b,1,1,278,...,4__10_B____1_IT_1_4_278__755_TI_I_7,None,None,None,4__10_B__,4__10_B____1_IT_1,4_278,4_278_,4_278_755,"LINESTRING (-3.63573 40.53180, -3.63648 40.531..."
1,2,4_336285_278__756_I,20150709,4,336285,102,10b,2,1,278,...,4__10_B____2_IT_1_4_278__756_TI_I_5,None,None,None,4__10_B__,4__10_B____2_IT_1,4_278,4_278_,4_278_756,"LINESTRING (-3.66231 40.51541, -3.66176 40.516..."

### Importo el archivo CSV de atención médica.

In [46]:
df_sanidad=pd.read_csv('Atención médica.csv', sep='|', header=0)
df_sanidad.head(2)

,Unnamed: 0,PK,NOMBRE,DESCRIPCION-ENTIDAD,HORARIO,EQUIPAMIENTO,TRANSPORTE,DESCRIPCION,ACCESIBILIDAD,CONTENT-URL,...,COORDENADA-Y,LATITUD,LONGITUD,TELEFONO,FAX,EMAIL,TIPO,Unnamed: 32,Longitude,Latitude
0,0,5855213,Centro Concertado de adicciones (CCAD) Centro ...,El Centro concertado de adicciones Centro form...,De lunes a viernes de 9 a 17 horas,Valoración interdisciplinar del/de la paciente...,"Metro: Alonso Martínez, L4, L5, L10",Forma de acceso: directo,1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,...,4475437.0,40.42747404776084,3.697485377509971,914 291 960,NaN,ctdcentro@cruzroja.es,/contenido/entidadesYorganismos/CentrosAtencio...,,-3.697492,40.427465
1,1,134929,Centro Concertado de Atención a las Adicciones...,El CCAD Cáritas que forma parte de la red del ...,"De lunes a viernes mañanas de 9 a 14 horas, ta...",Valoración interdisciplinar del/de la paciente...,"Bus: 9, 73, N2Metro: Alfonso XIII (L4), Prospe...",NaN,1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,...,4477482.0,40.446053313442704,3.6702766124516515,917 440 599,NaN,tto.adicciones@caritasmadrid.org,/contenido/entidadesYorganismos/CentrosAtencio...,,-3.670279,40.446050

### Importo el archivo CSV de las bibliotecas de madrid.

In [47]:
df_bibliotecas = pd.read_csv('bibliotecas_madrid.csv', sep=';' , header=0)
df_bibliotecas.head(2)

,PK,NOMBRE,DESCRIPCION-ENTIDAD,HORARIO,EQUIPAMIENTO,TRANSPORTE,DESCRIPCION,ACCESIBILIDAD,CONTENT-URL,NOMBRE-VIA,...,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TELEFONO,FAX,EMAIL,TIPO,Unnamed: 32
0,25526,Biblioteca Pública Antonio Mingote (Latina),NaN,Apertura de lunes a sábado. De lunes a viern...,Wifi gratuito.,"Bus: 138, 17 Cercanías Renfe: Maestra Justa ...","Lectura fácil, letra grande, audiodescripción.",1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,RAFAEL FINAT,...,LATINA,434685,4470157,40.379442,-3.769439,915 093 625,917 068 193,bib.latina@madrid.org,/contenido/entidadesYorganismos/BibliotecasPub...,
1,1774,Biblioteca Pública Elena Fortún (Retiro),NaN,Apertura de lunes a sábado. De lunes a viern...,Wifi gratuito.,"Metro: Pacífico (líneas 1 y 6), Conde de Casal...","Lectura fácil, letra grande, audiodescripción.",1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,DOCTOR ESQUERDO,...,RETIRO,442942,4472768,40.403578,-3.672409,915 019 146,915 018 130,bib.retiro@madrid.org,/contenido/entidadesYorganismos/BibliotecasPub...,

### Importo el archivo CSV de centros polideportivos.

In [48]:
df_polideportivos = pd.read_csv('centros_polideportivos.csv', sep=';' , header=0)
df_polideportivos.head(2)

,PK,NOMBRE,DESCRIPCION-ENTIDAD,HORARIO,EQUIPAMIENTO,TRANSPORTE,DESCRIPCION,ACCESIBILIDAD,CONTENT-URL,NOMBRE-VIA,...,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TELEFONO,FAX,EMAIL,TIPO,Unnamed: 32
0,4707,Centro Deportivo Municipal María Jesús Rosa (...,NaN,Horario de uso de las instalaciones deportivas...,Clases deportivas Pre-infantiles (0 a 5 añ...,"Metro: Barrio del Pilar , Peñagrande. Bus: 4...",NaN,1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,MONFORTE DE LEMOS,...,FUENCARRAL-EL PARDO,439931,4481139,40.478768,-3.708699,914 800 476 - idmlavaguada@madrid.es,NaN,idmlavaguada@madrid.es,/contenido/entidadesYorganismos/CentrosEspacio...,
1,10183549,Centro Deportivo Municipal Alcántara,NaN,Horario de uso de las instalaciones deportivas...,Clases y escuelas deportivas Pre-infantiles...,"Metro: Lista, Manuel Becerra. Bus: 21, 43, 53...",NaN,1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,ALCANTARA,...,SALAMANCA,442851,4475492,40.428103,-3.673732,917 373 641,NaN,alcantara@viding.es,/contenido/entidadesYorganismos/CentrosEspacio...,

### Importo el archivo CSV de colegios públicos

In [49]:
df_colegios = pd.read_csv('colegios-publicos_madrid.csv', sep=';', header=0)
df_colegios.head(2)

,PK,NOMBRE,DESCRIPCION-ENTIDAD,HORARIO,EQUIPAMIENTO,TRANSPORTE,DESCRIPCION,ACCESIBILIDAD,CONTENT-URL,NOMBRE-VIA,...,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TELEFONO,FAX,EMAIL,TIPO,Unnamed: 32
0,176850,Colegio Público Adolfo Suárez,NaN,NaN,Comedor - Horario ampliado - Planes de mejora.,BUS: 174,ENSEÑANZAS: Segundo ciclo de E. Infantil - Pri...,0,http://www.madrid.es/sites/v/index.jsp?vgnextc...,INFANTA CATALINA MICAELA,...,HORTALEZA,444807,4482402,40.488603,-3.652554,917 502 058 / 676 562 792,917 502 058,NaN,/contenido/entidadesYorganismos/CentrosEducaci...,
1,5075,Colegio Público Agustina Díez,NaN,NaN,Comedor - Horario ampliado,"METRO: Alto del Arenal BUS: 54 , 58 , 103 , 143",ENSEÑANZA: Educación infantil - Primaria,0,http://www.madrid.es/sites/v/index.jsp?vgnextc...,VESUBIO,...,PUENTE DE VALLECAS,445067,4471046,40.388191,-3.647237,917 770 073,917 770 073,NaN,/contenido/entidadesYorganismos/CentrosEducaci...,

### Importo el archivo CSV de los museos de madrid.

In [50]:
df_museos = pd.read_csv('museos_madrid.csv', sep=';', header=0)
df_museos.head(2)

,PK,NOMBRE,DESCRIPCION-ENTIDAD,HORARIO,EQUIPAMIENTO,TRANSPORTE,DESCRIPCION,ACCESIBILIDAD,CONTENT-URL,NOMBRE-VIA,...,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TELEFONO,FAX,EMAIL,TIPO,Unnamed: 32
0,4847190,Casa Museo Lope de Vega,"'Mi casilla, mi quietud, mi g&amp;uuml;ertecil...","De martes a domingo, de 10 a 18 horas. Cerrad...",NaN,"Metro: Antón Martín (línea 1), Sevilla (línea ...",NaN,"0,4",http://www.madrid.es/sites/v/index.jsp?vgnextc...,CERVANTES,...,CENTRO,440825,4473983,40.414358,-3.697474,914 299 216,NaN,casamuseolopedevega@madrid.org,/contenido/entidadesYorganismos/Museos,
1,4949641,Casita - Museo del Ratón Pérez,"La Casita-Museo de Ratón Pérez, constituye un ...",Visitas: Lunes: 11 a 14 horas. Martes a ...,NaN,"Metro: Sol (líneas: 1, 2 y 3), Ópera (líneas 2...",Reserva de entradas presicialmente y a través ...,0,http://www.madrid.es/sites/v/index.jsp?vgnextc...,ARENAL,...,CENTRO,440144,4474287,40.417060,-3.705520,915 226 968,NaN,info@casamuseoratonperez.es,/contenido/entidadesYorganismos/Museos,

### Importo el archivo CSV de universidades.

In [51]:
df_universidades = pd.read_csv('universidades-educacion.csv', sep=';', header=0)
df_universidades.head(2)

,PK,NOMBRE,DESCRIPCION-ENTIDAD,HORARIO,EQUIPAMIENTO,TRANSPORTE,DESCRIPCION,ACCESIBILIDAD,CONTENT-URL,NOMBRE-VIA,...,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TELEFONO,FAX,EMAIL,TIPO,Unnamed: 32
0,6408,Centro de Enseñanza Superior Cardenal Cisneros,NaN,NaN,NaN,"Metro: Lista (línea 4), Núñez de Balboa (línea...",Titulaciones Psicología. Derecho. Administra...,3,http://www.madrid.es/sites/v/index.jsp?vgnextc...,GENERAL DIAZ PORLIER,...,SALAMANCA,442606,4475777,40.430656,-3.676645,913 096 120 / 914 028 981,NaN,secretaria@universidadcisneros.es,/contenido/entidadesYorganismos/Universidades/...,
1,6368,Centro de Enseñanza Superior en Humanidades y ...,NaN,NaN,NaN,"Metro: Francos Rodríguez (línea 7). Bus: 64, 44.",Titulaciones Grado de Maestro en Educación P...,3,http://www.madrid.es/sites/v/index.jsp?vgnextc...,MARIA AUXILIADORA,...,MONCLOA-ARAVACA,439343,4478823,40.457866,-3.715402,914 500 472,NaN,NaN,/contenido/entidadesYorganismos/Universidades/...,

#### Creo el mapa con los datos.

In [52]:
config = {
    'version': 'v1',
    'config': {
        'mapState':{
            'latitude': 40.4167278,
            'longitude': -3.7033387,
            'zoom': 8
        }
    }
}

In [53]:
with open('configuracion_final.json', 'r') as j:
    configuracion = json.load(j)
type(configuracion)

dict

In [54]:
mapa = KeplerGl(show_docs=False, config=configuracion)
mapa.add_data(data=df_alquiler, name='VIVIENDAS EN ALQUILER')
mapa.add_data(data=df_venta, name='VIVIENDAS EN VENTA')
mapa.add_data(data=df_distritos, name='DISTRITOS DE MADRID')
mapa.add_data(data=df_municipios, name='MUNICIPIOS')
mapa.add_data(data=df_paradas, name='PARADAS DE METRO')
mapa.add_data(data=df_lineas, name='LINEAS DE METRO')
mapa.add_data(data=df_sanidad, name='ATENCIÓN MÉDICA')
mapa.add_data(data=df_bibliotecas, name='BIBLIOTECAS')
mapa.add_data(data=df_polideportivos, name='POLIDEPORTIVOS')
mapa.add_data(data=df_colegios, name='COLEGIOS')
mapa.add_data(data=df_museos, name='MUSEOS')
mapa.add_data(data=df_universidades, name='CENTROS DE ENSEÑANZA SUPERIOR')
mapa

C:\Users\raulm\AppData\Roaming\Python\Python311\site-packages\jupyter_client\session.py:721: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)
C:\Users\raulm\AppData\Roaming\Python\Python311\site-packages\jupyter_client\session.py:721: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)
C:\Users\raulm\AppData\Roaming\Python\Python311\site-packages\jupyter_client\session.py:721: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)
C:\Users\raulm\AppData\Roaming\Python\Python311\site-packages\jupyter_client\session.py:721: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)
C:\Users\raulm\AppData\Roaming\Python\Python311\site-packages\jupyter_client\session.py:721: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)
C:\Users\raulm\AppData\Roaming\Python\Python311\site-packages\jupyter_client\session.py:721: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)
C:\Users\raulm\AppData\Roaming\Python\Python311\site-packages\jupyter_client\session.py:721: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)
C:\Users\raulm\AppData\Roaming\Python\Python311\site-packages\jupyter_client\session.py:721: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)
C:\Users\raulm\AppData\Roaming\Python\Python311\site-packages\jupyter_client\session.py:721: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)
C:\Users\raulm\AppData\Roaming\Python\Python311\site-packages\jupyter_client\session.py:721: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)
C:\Users\raulm\AppData\Roaming\Python\Python311\site-packages\jupyter_client\session.py:721: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)
C:\Users\raulm\AppData\Roaming\Python\Python311\site-packages\jupyter_client\session.py:721: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)

KeplerGl(config={'config': {'mapState': {'bearing': 0, 'dragRotate': False, 'isSplit': False, 'latitude': 40.5…

In [55]:
# with open('configuracion_final.json', 'w') as file:
#     json.dump(mapa.config, file, indent=4, sort_keys=True)

In [56]:
# mapa.save_to_html(file_name='MAPA DE VIVIENDAS COMUNIDAD DE MADRID.html')